body{
    background: linear-gradient(135deg,#4B2C6f,#3C3B8E);
    color: white;
    font-family: Arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container{
    width: 320px;
    padding: 30px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.login-container h2{
    text-align: center;
    margin-bottom: 20px;
}
.login-container form{
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.login-container input{
    padding: 12px;
    border-radius: 12px;
    border: none;
    outline: none;
}
.login-container button{
    padding: 12px;
    border-radius: 25px;
    border: none;
    background: rgba(255, 255, 255, 0.35);
    font-weight: bold;
    cursor: pointer;
}
.login-container a{
    color: #fff;
    text-decoration: underline;
}
.icon{
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 8px;
}
/* Contenedor del input de contraseña y ojo */
.password-wrapper {
  position: relative;
}

/* Input de contraseña ancho completo y espacio para el icono */
.password-wrapper input {
  width: 100%;
  padding-right: 40px; /* espacio para el icono */
  box-sizing: border-box;
}

/* Icono del ojo */
.password-wrapper .eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;  /* tamaño del icono */
  height: 20px;
}